.mySwiper {
  height: 100%;
}

.hero-page-img-1 {
  width: 100vw;
  height: 100vh;

  background-image: url("../../assets/Desktop - 1.jpg");
  background-position: -10% 50%;
  background-size: cover;
}

.hero-page-img-2 {
  width: 100vw;
  height: 100vh;

  background-image: url("../../assets/Desktop - 2.jpg");
  background-position: 0% 70%;
}

.hero-page-img-3 {
  width: 100vw;
  height: 100vh;

  background-image: url("../../assets/Desktop - 3.jpg");
  background-position: 0% 10%;
}

@media screen and (max-width: 600px) {
  .hero-page-img-1 {
    background-position: 30% 50%;
  }

  .hero-page-img-2 {
    background-position: 40% 70%;
  }

  .hero-page-img-3 {
    background-position: 30% 0%;
  }
}
